body {
	font-family: $default_font;
	font-weight: 700;
	font-size: 16px;
	color: $main_color;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

@media only screen and (max-width : 1200px) {
	padding-left: 20px;
	padding-right: 20px;

}

ul,

li {
	margin: 0;
	padding: 0;
	list-style: none;

}
