.header {
	background-color: $main_color;
}

.header__logo{
	cursor: pointer;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.header__logo-link {
display: inline-block;
line-height: 16px;
transition: all, .3s;
height: 45px;
width: 151px;


}
.header__logo:hover {
	.header__logo-link {
		content: url(../../dist/img/Forkio_hover.png);
	}
	}


.header__menu {
	margin-left: auto;

}




.header__menu-item {
	display: inline-block;

	&+.header__menu-item {
		padding-left: 45px;
	}
}

.header__menu-link {
	text-decoration: none;
	color: $violet;
	line-height: 15px;
	transition: all .3s;

	&:hover {
		color: #ffff;

	}
}


.header__menu-btn {

    border: 1px solid #8d81ac;
    color: #ffff;
    background-color: #8d81ac;
    padding: 12px 35px 12px 35px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    outline: none;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    margin-left: 45px;
    width: 140px;
    cursor: pointer;


	&:hover {
		color: $violet;
		background-color: #ffff;


	}

}

.btn__menu {
	display: none;
//	width: 26px;
//	height: 22px;
//	display: flex;
//	flex-direction: column;
//	align-content: space-between;
//	justify-content: flex-end;
//	.btn-row {
//		height: 3px;
//		border-radius: 1px;
//		border-color: white;
//		&:first-child {
//			width: 20px;
//		}
//	}
//}

@media only screen and (max-width : 992px) {

	.header__inner {
		align-items: flex-start;
		height: 120px;
	}

	.header__menu {
		margin-left: -45px;
		margin-right: -45px;
		margin-top: 80px;
		width: 100%;
	}

	.header__menu-btn {
		white-space: nowrap;
		margin-left: 0;
		margin-top: 20px;

	}

	.header__logo {
		margin-top: 20px;

	}
	.header__menu-list {

	text-align: center;

}



	.header__menu-item {
		padding-right: 22px;

		&+.header__menu-item {
			padding-left: 22px;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}
@media only screen and (max-width : 767px) {
//	padding-right: 5px;
		& + .header__menu-item {
	padding-left: 5px;
	}

}
	@media only screen and (max-width : 480px) {
		.header__menu {

        display: none;
        }
		}
		.btn__menu {
			display: block;
		}

		.header__menu-btn {
			padding: 12px 24px 12px 24;
			width: 130px;
            margin-top: 0px;
            margin-right: 40px;


		}
        .header__inner {
            height: 100px;
            align-items: center;
        }

	}
